*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
		}

.position{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}


.texto{
    text-align: center;
    }

.productos{
	text-align: center;
}   
