.header{
	display: flex;
	justify-content: space-between;
}
.logo{
margin-left: 0px;
position: absolute;
width: 300px;
}
.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 100%;
	max-width: 2500px; 
	text-align:right;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: inline-flex;
	margin: center;
	text-align: right;
 }
.menu li{
	display: inline-block;
	text-align: right;
}
	
.menu li a:hover{
	background:blueviolet;
	margin: auto;
	text-align: right;
}